.pokeCard {
    width: 100%;
    max-width: 350px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    border-end-start-radius: 25px;
    border-end-end-radius: 25px;

    .pokeball {
        height: fit-content;
        position: absolute;
        object-fit: contain;
        align-self: end;
        margin: 25px -30px;
        padding: 35px;
    }

    .top {
        display: flex;
        flex-direction: column;
        border: 1px solid transparent;
        border-radius: 25px;



        span {
            font-weight: 900;
            font-size: 18px;
            text-align: end;
            margin-top: 15px;
            margin-right: 15px;
        }

        img {
            width: 90%;
            height: 140px;
            position: relative;
            object-fit: contain;
            align-self: end;
            padding: 0.5rem 1rem;
        }

        .loadingContainer {
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .name {
        font-size: 20px;
        line-height: 20px;
        padding: 0 10px 0 1rem;
        border-end-start-radius: 25px;
        border-end-end-radius: 25px;
        text-align: left;
        font-weight: 900;
        text-transform: capitalize;
        color: white;
    }


}

.pokeCard:hover {
    box-shadow: -1px 10px 30px -15px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: -1px, 10px, 30px, -15px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -1px, 10px, 30px, -15px rgba(0, 0, 0, 0.65);
    transform: scale(1.03);
    transition-duration: 0.3s;


}